<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render '../partials/_profile' %>
      <% else %>
       <%= render '../partials/_trend_courses' %>
      <% end %>

       <%= render '../partials/_feed.html.erb' %>
       <%= render '../partials/_who-to-follow.html.erb' %>
    </div>
  </div>
</section>
